<% layout('/layouts/boilerplate')%>

<div class="card text-white bg-dark" style="">
  <div class="card-header">Stones</div>
  <div class="card-deck">
    <br />
    <h5 class="card-title">Collect All the stones to win!</h5>
    <br />
    <div class="container d-flex flex-wrap justify-content-around" style="">
      <% for (let i in stones) {%>
      <div class="card text-white <%= colorc[i] %> mb-3" style="max-width: 18rem">
        <div class="card-header">
          <a
            href="#"
            class="link-light text-decoration-none"
            data-toggle="modal"
            data-target="#exampleModalCenter"
          >
          <%= stones[i].name %>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= stones[i].title %></h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal-dialog-centered text-dark"
              role="document"
            >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    <%= stones[i].title %>
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img
                    class="card-img-top"
                    src="<%= stones[i].imageURL %>"
                    alt="Card image cap"
                  />
                  <p class="card-text"><%= stones[i].body %>
                  </p>
                  <% if(stones[i].Filerequired > 0) { %>  
                  <a href="<%= stones[i].filelink %>">File link</a>
                  <% } %>  
                  <p class="card-text">Hint: <%= stones[i].hint %>
                  </p>
                  <form action="/stones/<%= stones[i]._id %>/" method="POST" class='validated-form' novalidate>
                    <div class="form-group">
                      <label for="AnswerStone">Answer</label>
                      <input
                        name="AnswerStone"
                        type="text"
                        class="form-control"
                        id="AnswerStone"
                        placeholder="Answer"
                      />
                    </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary">
                    Submit
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%} %>
      <!-- ohoo -->
    </div>
  </div>
</div>

<!-- https://cdn.sparkfun.com/assets/d/9/e/1/c/51c8bb1ece395fef60000001.png -->